.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .disc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    animation: bounce 1.5s infinite;
  }
  
  .red {
    background-color: #d62828;
    animation-delay: 0s;
  }
  
  .yellow {
    background-color: #fcbf49;
    animation-delay: 0.75s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }